<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}<link rel="stylesheet" href="/build/css/app.css" />{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="/build/js/app.js"></script>
{% endblock %}

</body>
</html>